* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

svg {
  fill: white;
}

.yellow {
  color: #ffcc00;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.subtitle {
  position: relative;
  z-index: 5;
  background-color: #ba0000;
}

.subtitle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.subtitle__item:first-child {
  padding: 0 10px;
}

.subtitle__item-row {
  position: relative;
  display: flex;
  align-items: center;
}
.subtitle__item-row:hover svg {
  fill: #ffcc00;
}
.subtitle__item-row:hover .subtitle__item-row-link {
  color: #ffcc00;
}

.subtitle__item-row:hover .subtitle__item-hidden {
  display: block;
}

.subtitle__item-row .subtitle__item-hidden a {
  padding: 15px 0;
  display: inline-block;
  text-align: center;
  margin: 0;
  width: 100%;
}

.subtitle__item-row .subtitle-dropdown a {
  padding: 15px 15px;
  display: inline-block;
  text-align: center;
  margin: 0;
  width: 100%;
}

.subtitle__item-hidden {
  position: absolute;
  display: none;
  top: 44px;
  left: 0;
  width: 100%;
  background-color: rgba(186, 0, 0, 0.8);
  z-index: 5;
  border-radius: 0 0 6px 6px;
}
.subtitle__item-hidden a {
  border-bottom: 1px solid #ffcc00;
}
.subtitle__item-hidden a:last-child {
  border-bottom: none;
}
.subtitle__item-hidden a:hover {
  background-color: #00ff55;
  color: #ffcc00;
}
.subtitle__item-hidden a:hover:nth-child(3) {
  border-radius: 0 0 6px 6px;
}

.subtitle-dropdown {
  position: absolute;
  top: 44px;
  left: 0;
  width: auto;
  background-color: rgba(186, 0, 0, 0.8);
  z-index: 5;
  border-radius: 0 0 6px 6px;
}
.subtitle-dropdown .subtitle__item-row-link {
  border-bottom: 1px solid #ffcc00;
}
.subtitle-dropdown .subtitle__item-row-link:last-child {
  border-bottom: none;
}
.subtitle-dropdown .subtitle__item-row-link:hover {
  background-color: #00ff55;
  color: #ffcc00;
}
.subtitle-dropdown .subtitle__item-row-link:hover:nth-child(3) {
  border-radius: 0 0 6px 6px;
}

.subtitle-wrapper .subtitle__item-row-link:nth-child(2) {
  margin-right: 26px;
}

.subtitle__item-row-link {
  padding: 15px 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  margin-right: 5px;
  letter-spacing: 0.5px;
}
.subtitle__item-row-link:nth-last-child(1) {
  margin-right: 0;
  margin-left: 5px;
}

.subtitle__item-dropdown {
  padding: 15px 15px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.subtitle__item-dropdown:hover {
  background-color: #00ff55;
  color: #ffcc00;
}
.subtitle__item-dropdown:hover:nth-child(3) {
  border-radius: 0 0 6px 6px;
}

.subtitle__item-row-svg {
  display: flex;
}

.nav-title {
  position: relative;
  z-index: 4;
  background-color: #ffcc00;
}

.nav-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 122px;
}

.nav-burger {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ba0000;
  box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
  cursor: pointer;
}
@media (min-width: 850px) {
  .nav-burger {
    display: none;
  }
}
.nav-burger::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 10px;
  height: 3px;
  width: 30px;
  background-color: azure;
}
.nav-burger::before {
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  height: 3px;
  width: 30px;
  background-color: azure;
}
.nav-burger span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  height: 3px;
  width: 30px;
  background-color: azure;
  transform: translate(0, -50%);
}

.nav-burger:hover {
  box-shadow: 0px 20px 30px 0px rgba(186, 0, 0, 0.4);
}
.nav-burger:hover:after, .nav-burger:hover:before, .nav-burger:hover span:after {
  background-color: #ffcc00;
}

.nav-element {
  display: none;
}
@media (min-width: 850px) {
  .nav-element {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.nav-element a::before {
  position: absolute;
  content: attr(data-item);
  transition: 0.5s;
  color: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  overflow: hidden;
}
.nav-element a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
  padding-top: 0;
}

.nav-element__item {
  position: relative;
  margin-right: 45px;
  font-size: 14px;
  color: #ba0000;
  text-transform: uppercase;
  line-height: 1;
  list-style-type: none;
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 50px;
  margin-top: 50px;
}
.nav-element__item:hover, .nav-element__item:active, .nav-element__item:focus {
  border-bottom: 4px solid #ba0000;
  transform: translateY(2px);
}

.nav-searh {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ba0000;
  box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
  width: 50px;
  height: 50px;
}
.nav-searh:hover {
  box-shadow: 0px 20px 30px 0px rgba(186, 0, 0, 0.4);
}
.nav-searh:hover svg {
  fill: #ffcc00;
}

.search-input {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -51px;
  width: 150px;
  padding: 10px 25px;
  outline-color: #ba0000;
  font-size: 23px;
  color: #ba0000;
  font-weight: 400;
  border: 2px solid #ba0000;
  background-color: rgba(255, 204, 0, 0.521);
}
@media (min-width: 630px) {
  .search-input {
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
    height: 50px;
  }
}

.header {
  z-index: 5;
}

.header-content {
  position: relative;
  background: linear-gradient(90deg, #ba0000 0%, rgba(221, 102, 0, 0.05) 80%, rgba(255, 204, 0, 0.01) 100%, #ffcc00 70%), url("../img/bg/header-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrapper {
  padding: 172px 0 220px;
}

.header-title {
  max-width: 520px;
  font-size: 50px;
  color: white;
  line-height: 1.143;
  letter-spacing: 4.1px;
  margin-bottom: 80px;
}
@media (min-width: 530px) {
  .header-title {
    font-size: 70px;
  }
}

.header-subtitle {
  position: relative;
  font-size: 20px;
  color: #ffcc00;
  line-height: 1.2;
  letter-spacing: 0.6px;
  font-weight: 400;
  margin-bottom: 40px;
}
.header-subtitle::after {
  top: -40px;
  position: absolute;
  content: "";
  border-top: 4px solid #ffcc00;
  width: 100px;
}

.header-item {
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 35px;
}
.header-item span {
  padding-right: 25px;
}
.header-item span:last-child {
  padding-right: 0;
}
@media (min-width: 530px) {
  .header-item {
    font-size: 20px;
  }
}

.button-row {
  display: flex;
}

.button {
  outline: none;
  position: relative;
  padding: 25px 30px;
  border-radius: 40px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #ba0000;
  line-height: 1;
  margin-right: 20px;
  background-color: #ffcc00;
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  font-weight: 900;
  border: none;
  letter-spacing: 1.2px;
  transition: 0.4s ease-in;
  cursor: pointer;
}
.button:hover, .button:focus {
  box-shadow: 0px 15px 25px 0px rgba(255, 204, 0, 0.6);
  color: white;
}

.button-header {
  color: white;
  border: 2px solid white;
  background-color: rgba(255, 204, 0, 0);
  box-shadow: none;
  padding: 23px 35px;
  margin-right: 0;
}
.button-header:hover, .button-header:focus {
  box-shadow: 0px 15px 25px 0px rgba(186, 0, 0, 0.6);
  color: #ffcc00;
  background-color: #ba0000;
  border-color: #ba0000;
}

.service {
  padding: 150px 0 70px;
  z-index: 3;
}

.service-title {
  position: relative;
  margin-bottom: 80px;
}

.service-title__text {
  font-size: 40px;
  color: #ba0000;
  line-height: 1;
  letter-spacing: 1.5px;
}
@media (min-width: 630px) {
  .service-title__text {
    font-size: 50px;
  }
}

.service-title__item {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 60px;
  color: #f8f8f8;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 4.5px;
  z-index: -1;
}
@media (min-width: 430px) {
  .service-title__item {
    font-size: 80px;
  }
}
@media (min-width: 630px) {
  .service-title__item {
    top: -40px;
    font-size: 110px;
  }
}
@media (min-width: 800px) {
  .service-title__item {
    top: -50px;
    font-size: 150px;
  }
}

.service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (width: 1200px) {
  .service-content {
    flex-wrap: nowrap;
  }
}

.service-content-card {
  margin: 0 10px;
  margin-bottom: 40px;
  max-width: 270px;
}

.service-form {
  background-color: #ba0000;
  padding: 15px 30px;
  z-index: 3;
}

.service-content-card__img {
  margin-bottom: 30px;
  z-index: -1;
  transition: 0.4s ease-in;
}

.service-content-card__title {
  margin-bottom: 25px;
  font-size: 20px;
  color: #ba0000;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.service-content-card__text {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  line-height: 1.625;
  letter-spacing: 0.48px;
}

.service-content-card__link {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.48px;
}
.service-content-card__link:hover {
  color: #ba0000;
  border-bottom: 4px solid #ba0000;
}

.gradient-card {
  position: relative;
  display: inline-block;
  height: 180px;
  transition: 0.5s ease-in;
}
.gradient-card:hover::after {
  opacity: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
  background-image: linear-gradient(45deg, #ba0000 0%, rgba(221, 102, 0, 0.05) 65%, rgba(255, 204, 0, 0.01) 100%);
}

.gradient-card:after {
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card-form-title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: white;
  line-height: 1;
  letter-spacing: 0.6px;
  margin-bottom: 60px;
}
.card-form-title:after {
  position: absolute;
  content: "";
  top: 50px;
  width: 70px;
  left: 0;
  border-bottom: 2px solid #ffcc00;
}

.card-form-text {
  font-size: 16px;
  color: white;
  line-height: 1.625;
  letter-spacing: 0.48px;
  width: 210px;
  margin-bottom: 40px;
}

.card-form-input-wrap {
  margin-bottom: 20px;
  display: flex;
}

.card-form-input {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #9d0000;
  border: none;
  outline: none;
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 0.48px;
}
.card-form-input::placeholder {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 0.48px;
}

.service-card__select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcc00;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.service-card__select:hover {
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
}
.service-card__select svg {
  display: flex;
}

.service-card__select-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background: rgba(186, 0, 0, 0.8);
}

.service__item-dropdown {
  padding: 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  letter-spacing: 0.48px;
  border-bottom: 1px solid #ffcc00;
}
.service__item-dropdown:hover {
  background-color: aquamarine;
  border-bottom: 1px solid transparent;
}

.features {
  position: relative;
  background: linear-gradient(0deg, rgba(255, 204, 0, 0.70196) 0%, rgba(186, 0, 0, 0) 200%), url("../img/features/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 150px;
  z-index: 2;
}
@media (min-width: 800px) {
  .features {
    margin-bottom: 400px;
  }
}
@media (min-width: 1200px) {
  .features {
    margin-bottom: 200px;
  }
}
.features::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  background-image: url("../img/features/icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  transform: translate(50%, -100%);
  background-color: #ffcc00;
  border-radius: 50%;
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  cursor: pointer;
}

.features-title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
  line-height: 1;
  text-align: center;
}
@media (min-width: 630px) {
  .features-title {
    font-size: 50px;
  }
}

.features-cards {
  display: none;
}
@media (min-width: 800px) {
  .features-cards {
    display: block;
    margin-top: 250px;
  }
}
@media (min-width: 1200px) {
  .features-cards {
    margin-top: 0;
    position: absolute;
    bottom: -210px;
    display: flex;
  }
}

.features-cards__item {
  display: inline-flex;
  background-color: white;
  box-shadow: 0px 10px 18px 0px rgba(191, 191, 191, 0.4);
  margin-bottom: 10px;
}
.features-cards__item:last-child {
  margin-right: 15px;
}
@media (min-width: 1200px) {
  .features-cards__item {
    margin-right: 30px;
    max-width: 370px;
    display: inline-block;
    margin-bottom: 0;
  }
  .features-cards__item:last-child {
    margin-right: 0;
  }
}
.features-cards__item .features-cards__item-img img {
  width: 100%;
  object-fit: cover;
}

.features-cards__item-img {
  height: 200px;
  overflow: hidden;
}

.features-cards__item-desc {
  padding: 25px 25px 20px;
}

.features-cards__item-title {
  font-size: 20px;
  color: #ba0000;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 25px;
}

.features-cards__item-text {
  font-size: 20px;
  color: grey;
  line-height: 1;
  padding-left: 25px;
}
.features-cards__item-text li {
  margin-bottom: 5px;
}

.form {
  padding: 100px 0;
}

.form-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 1200px) {
  .form-content {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }
}

.form-wrapper {
  background-color: #ba0000;
}
@media (min-width: 630px) {
  .form-wrapper {
    width: 570px;
  }
}

.form-nav {
  display: flex;
  margin-bottom: 40px;
}

.form-nav__item {
  flex: 1;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 630px) {
  .form-nav__item {
    width: 285px;
  }
}

.form-nav__item-red {
  background-color: #ba0000;
  color: white;
}

.form-nav__item-yellow {
  background-color: #ffcc00;
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  color: #ba0000;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-input-wrap {
  display: flex;
  justify-content: center;
}

.form-input {
  width: 100%;
  height: 54px;
  background-color: rgba(255, 204, 0, 0);
  border: 2px solid white;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: uppercase;
  outline: none;
  border-radius: 0;
}
.form-input::placeholder {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: uppercase;
}

.button-form__item {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 54px;
  cursor: pointer;
  border: 2px solid white;
  border-left: none;
  outline: none;
  background: #ba0000;
}

.form-input-wrap--active input {
  background-color: #ffcc00;
  border-color: #ffcc00;
  border-right: 2px solid #ba0000;
}
.form-input-wrap--active input::placeholder {
  color: #ba0000;
  font-weight: 700;
}
.form-input-wrap--active button {
  background-color: #ffcc00;
  border-color: #ffcc00;
}
.form-input-wrap--active button svg {
  fill: #ba0000;
}

.form-input__active {
  padding: 25px;
  border: 2px solid #ffcc00;
  border-top: none;
  transform: translateY(-22px);
}

.form-input__active-title {
  font-size: 16px;
  color: white;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.form-input__active-text {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: white;
}
.form-input__active-text p {
  margin-bottom: 15px;
}
.form-input__active-text p:last-child {
  margin-bottom: 0;
}

.form-img {
  display: none;
  position: relative;
  border-style: solid;
  border-width: 20px;
  border-color: #ffcc00;
  width: 430px;
  height: 500px;
  margin-right: 44px;
  margin-bottom: 100px;
}
@media (min-width: 530px) {
  .form-img {
    display: block;
  }
}
@media (min-width: 1200px) {
  .form-img {
    margin-bottom: 0;
  }
}

.form-img-wrap {
  transform: translate(20px, 20px);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(0deg, #ffcc00 0%, rgba(255, 255, 255, 0) 75%), url("../img/form/img.jpg");
  width: 435px;
  height: 523px;
}

.promo-section {
  background-color: #ba0000;
  padding: 100px 0;
}

.promo-section-wrapper {
  display: flex;
  flex-direction: column;
}
@media (width: 1200px) {
  .promo-section-wrapper {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.promo-section-wrapper__item-title {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin-bottom: 40px;
}

.promo-section-wrapper__item-text {
  display: grid;
  font-size: 16px;
  color: white;
  line-height: 1.5;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}
@media (width: 1200px) {
  .promo-section-wrapper__item-text {
    margin-bottom: 0;
  }
}

.button-promo {
  font-size: 12px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.2px;
  background-color: #a00000;
  padding: 25px 40px;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease-in;
}
.button-promo:hover {
  background-color: #ffcc00;
  color: #ba0000;
  box-shadow: 0px 15px 28px 0px rgba(255, 204, 0, 0.4);
}

.banners {
  position: relative;
  padding: 70px 0 40px;
}

.banners-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .banners-wrap {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.banners__item {
  position: relative;
  padding: 38px 18px 20px;
  background-color: #e7e9e7;
  border: 2px solid #9e9c9a;
  transition: 0.4s ease-in;
  margin: 0 10px 30px;
  height: 125px;
}
@media (min-width: 630px) {
  .banners__item {
    height: auto;
  }
}
.banners__item:hover {
  border: 2px solid #d8704e;
  transform: translateY(-10px);
}

.footer {
  position: relative;
  background: #fff;
}
@media (min-width: 800px) {
  .footer {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/footer/bg-1.png") bottom left no-repeat, url("../img/footer/bg-2.png") bottom right no-repeat;
  }
}
@media (min-width: 1590px) {
  .footer {
    background: url("../img/footer/bg-1.png") bottom left no-repeat, url("../img/footer/bg-2.png") bottom right no-repeat;
  }
}
.footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #ba0000;
  width: 40px;
  height: 100%;
  z-index: 2;
}
.footer::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background-color: #ffcc00;
  width: 10px;
  height: 100%;
  z-index: 2;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 50px 0px;
}
@media (min-width: 530px) {
  .footer-nav {
    padding: 50px 50px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .footer-nav {
    justify-content: center;
    padding: 0 0 100px;
  }
}

.footer-nav-link-row {
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.6px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #ba0000;
}
@media (min-width: 530px) {
  .footer-nav-link-row {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .footer-nav-link-row {
    margin-right: 140px;
  }
  .footer-nav-link-row:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1590px) {
  .footer-nav-link-row {
    color: #9e9c9a;
  }
}

.footer-nav-link-row__title {
  font-size: 20px;
  color: #ba0000;
  margin-bottom: 30px;
}

.footer-nav-link__column {
  padding-left: 20px;
}
.footer-nav-link__column li {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 0;
}
.footer-nav-link__column li a {
  text-decoration: none;
  color: #ba0000;
}
@media (min-width: 1590px) {
  .footer-nav-link__column li a {
    color: #9e9c9a;
  }
}
.footer-nav-link__column li a:hover {
  color: #ffcc00;
}
.footer-nav-link__column li:last-child {
  margin-bottom: 0;
}
.footer-nav-link__column li:hover {
  color: #ffcc00;
}

.burger {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffcc008c;
  z-index: 2;
  padding: 190px 30px 0px;
  transition: 1s linear;
}

.burger--active {
  transition: 1s linear;
  top: 0;
}

.burger__item {
  font-size: 26px;
  color: #ba0000;
  text-transform: uppercase;
  line-height: 1;
  list-style-type: none;
  text-decoration: underline;
  font-weight: 700;
  padding: 15px 5px;
  border: 1px solid transparent;
}
.burger__item:hover {
  color: #ffcc00;
  border: 1px solid #ffcc00;
}

/*# sourceMappingURL=main.css.map */
