.banners {
    position: relative;
    padding: 70px 0 40px;
}

.banners-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;



  @media (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.banners__item {
  position: relative;
  padding: 38px 18px 20px;
  background-color: rgb(231, 233, 231);
  border: 2px solid rgb(158, 156, 154);
  transition: 0.4s ease-in;
  margin: 0 10px 30px;
  height: 125px;

  @media (min-width: 630px) {
    height: auto;
  }

  &:hover {
    border: 2px solid rgb(216, 112, 78);
    transform: translateY(-10px);
  }
}
