* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
svg {
    fill: white;
}
.yellow {
    color: #ffcc00;
}

.hidden {
    display: none;
}