.features {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(255, 204, 0, 0.70196) 0%,
      rgba(186, 0, 0, 0) 200%
    ),
    url("../img/features/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 150px;
  z-index: 2;

  @media (min-width: 800px) {
    margin-bottom: 400px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 200px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 50%;
    background-image: url("../img/features/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    transform: translate(50%, -100%);
    background-color: rgb(255, 204, 0);
    border-radius: 50%;
    box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
    cursor: pointer;
  }
}

.features-title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;

  @media (min-width: 630px) {
    font-size: 50px;
  }
}

.features-cards {
  display: none;

  @media (min-width: 800px) {
    display: block;
    margin-top: 250px;
  }

  @media (min-width: 1200px) {
    margin-top: 0;
    position: absolute;
    bottom: -210px;
    display: flex;
  }
}

.features-cards__item {
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 18px 0px rgba(191, 191, 191, 0.4);
  margin-bottom: 10px;

  &:last-child {
    margin-right: 15px;
  }

  @media (min-width: 1200px) {
    margin-right: 30px;
    max-width: 370px;
    display: inline-block;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .features-cards__item-img img {
    width: 100%;
    object-fit: cover;
  }
}

.features-cards__item-img {
  height: 200px;
  overflow: hidden;
}

.features-cards__item-desc {
  padding: 25px 25px 20px;
}

.features-cards__item-title {
  font-size: 20px;
  color: rgb(186, 0, 0);
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 25px;
}

.features-cards__item-text {
  font-size: 20px;
  color: grey;
  line-height: 1;
  padding-left: 25px;

  li {
    margin-bottom: 5px;
  }
}
