.form {
  padding: 100px 0;
}

.form-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media (min-width: 1200px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }
}

.form-wrapper {
  background-color: rgb(186, 0, 0);

  @media (min-width: 630px) {
    width: 570px;
  }
}

.form-nav {
  display: flex;
  margin-bottom: 40px;
}

.form-nav__item {
  flex: 1;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  @media (min-width: 630px) {
    width: 285px;
  }
}

.form-nav__item-red {
  background-color: rgb(186, 0, 0);
  color: rgb(255, 255, 255);
}

.form-nav__item-yellow {
  background-color: rgb(255, 204, 0);
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  color: rgb(186, 0, 0);
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-input-wrap {
  display: flex;
  justify-content: center;
}

.form-input {
  width: 100%;
  height: 54px;
  background-color: rgba(255, 204, 0, 0);
  border: 2px solid white;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  outline: none;

  &::placeholder {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
}

.button-form__item {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 54px;
  cursor: pointer;
  border: 2px solid white;
  border-left: none;
  outline: none;
  background: rgb(186, 0, 0);
}

.form-input-wrap--active {
  input {
    background-color: rgb(255, 204, 0);
    border-color: rgb(255, 204, 0);
    border-right: 2px solid rgb(186, 0, 0);

    &::placeholder {
      color: rgb(186, 0, 0);
      font-weight: 700;
    }
  }
  button {
    background-color: rgb(255, 204, 0);
    border-color: rgb(255, 204, 0);

    svg {
      fill: rgb(186, 0, 0);
    }
  }
}

.form-input__active {
  padding: 25px;
  border: 2px solid rgb(255, 204, 0);
  border-top: none;
  transform: translateY(-22px);
}

.form-input__active-title {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.form-input__active-text {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: rgb(255, 255, 255);
  p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-img {
  display: none;
  position: relative;
  border-style: solid;
  border-width: 20px;
  border-color: rgb(255, 204, 0);
  width: 430px;
  height: 500px;
  margin-right: 44px;
  margin-bottom: 100px;

  @media (min-width: 530px) {
    display: block;
  }

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.form-img-wrap {
  transform: translate(20px, 20px);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgb(255, 204, 0) 0%,
      rgba(255, 255, 255, 0) 75%
    ),
    url("../img/form/img.jpg");
  width: 435px;
  height: 523px;
}
