.header {
  z-index: 5;
}

.header-content {
  position: relative;
  background: linear-gradient(
      90deg,
      #ba0000 0%,
      rgba(221, 102, 0, 0.05) 80%,
      rgba(255, 204, 0, 0.01) 100%,
      #ffcc00 70%
    ),
    url("../img/bg/header-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrapper {
  padding: 172px 0 220px;
}

.header-title {
  max-width: 520px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  line-height: 1.143;
  letter-spacing: 4.1px;
  margin-bottom: 80px;

  @media (min-width: 530px) {
    font-size: 70px;
  }
}

.header-subtitle {
  position: relative;
  font-size: 20px;
  color: rgb(255, 204, 0);
  line-height: 1.2;
  letter-spacing: 0.6px;
  font-weight: 400;
  margin-bottom: 40px;
  &::after {
    top: -40px;
    position: absolute;
    content: "";
    border-top: 4px solid rgb(255, 204, 0);
    width: 100px;
  }
}

.header-item {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 35px;
  span {
    padding-right: 25px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.button-row {
  display: flex;
}

.button {
  outline: none;
  position: relative;
  padding: 25px 30px;
  border-radius: 40px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: rgb(186, 0, 0);
  line-height: 1;
  margin-right: 20px;
  background-color: rgb(255, 204, 0);
  box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  font-weight: 900;
  border: none;
  letter-spacing: 1.2px;
  transition: 0.4s ease-in;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 15px 25px 0px rgba(255, 204, 0, 0.6);
    color: white;
  }
}

.button-header {
  color: rgb(255, 255, 255);
  border: 2px solid white;
  background-color: rgba(255, 204, 0, 0);
  box-shadow: none;
  padding: 23px 35px;
  margin-right: 0;
  &:hover,
  &:focus {
    box-shadow: 0px 15px 25px 0px rgba(186, 0, 0, 0.6);
    color: rgb(255, 204, 0);
    background-color: rgb(186, 0, 0);
    border-color: #ba0000;
  }
}
