.service {
  padding: 150px 0 100px;
}

.service-title {
  position: relative;
  margin-bottom: 80px;
}

.service-title__text {
  font-size: 50px;
  color: rgb(186, 0, 0);
  line-height: 1;
  letter-spacing: 1.5px;
}

.service-title__item {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 150px;
  color: rgb(248, 248, 248);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 4.5px;
  z-index: -1;
}

.service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (width: 1200px) {
    flex-wrap: nowrap;
  }
}

.service-content-card {
  margin-right: 60px;
  margin-bottom: 60px;
  max-width: 270px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
    background-color: rgb(186, 0, 0);
    padding: 30px;
  }

  &:nth-child(2n + 2) {
    margin-right: 0;
  }

  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  @media (min-width: 930px) {
    margin-right: 30px;
    &:nth-child(2n + 2) {
      margin-right: 30px;
    }
  }

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

@media (min-width: 930px) {
  .service-content-card {
    &:nth-child(2n + 2) {
      margin-right: 30px;
    }

    &:nth-last-child(2) {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.service-content-card__img {
  margin-bottom: 30px;
  z-index: -1;
  transition: 0.4s ease-in;
}

.service-content-card__title {
  margin-bottom: 25px;
  font-size: 20px;
  color: rgb(186, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.service-content-card__text {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(119, 119, 119);
  line-height: 1.625;
  letter-spacing: 0.48px;
}

.service-content-card__link {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: rgb(34, 34, 34);
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.48px;

  &:hover {
    color: rgb(186, 0, 0);
    border-bottom: 4px solid rgb(186, 0, 0);
  }
}

.gradient-card {
  position: relative;
  display: inline-block;
  height: 180px;
  transition: 0.5s ease-in;
  &:hover::after {
    opacity: 1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
    background-image: linear-gradient(
      45deg,
      #ba0000 0%,
      rgba(221, 102, 0, 0.05) 65%,
      rgba(255, 204, 0, 0.01) 100%
    );
  }
}

.gradient-card:after {
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card-form-title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1;
  letter-spacing: 0.6px;
  margin-bottom: 60px;

  &:after {
    position: absolute;
    content: "";
    top: 50px;
    width: 70px;
    left: 0;
    border-bottom: 2px solid rgb(255, 204, 0);
  }
}

.card-form-text {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.625;
  letter-spacing: 0.48px;
  width: 210px;
  margin-bottom: 40px;
}

.card-form-input-wrap {
  margin-bottom: 20px;
  display: flex;
}

.card-form-input {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(157, 0, 0);
  border: none;
  outline: none;
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0.48px;

  &::placeholder {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0.48px;
  }
}

.service-card__select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 204, 0);
  height: 50px;
  width: 50px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 10px 18px 0px rgba(255, 204, 0, 0.4);
  }

  svg {
    display: flex;
  }
}

.service-card__select-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background: rgba(186, 0, 0, 0.8);
}

.service__item-dropdown {
  padding: 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0.48px;
  border-bottom: 1px solid rgb(255, 204, 0);

  &:hover {
    background-color: aquamarine;
    border-bottom: 1px solid transparent;
  }
}
